* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  background-color: gray;
}

#dashboard {
  background-color: blue;
  height: max(100vh, 100%);
  position: relative;
}

#menuclose {
  background-image: url("./images/x.png");
  background-size: 30px 30px;
  width: 30px;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.btn {
  background-size: 30px 30px;
  width: 30px;
  aspect-ratio: 1;
}

#menubtn {
  background-image: url("./images/menu.png");
  background-size: 30px 30px;
  width: 30px;
  aspect-ratio: 1;
  display: none;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: auto;
  }
  .dashboard {
    display: none;
  }
  #menubtn {
    display: block;
  }
  #menuclose {
    display: block;
  }
}

.slidout {
  display: block;
}

.bar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: brown;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media (max-width: 600px) {
  .bar {
    grid-template-columns: auto;
  }
  .container {
    grid-template-columns: auto;
  }
}

.bar1,
.bar2,
.bar3,
.bar4 {
  display: flex;
  align-items: center;
}
